<header id="top-page">

    <div class="top-page-announc">
        <div class="top-page-announc-content">
            <p>Order Food Online in
                <span>6 October</span>
            </p>
            <h1>
                Order Food Online from Best & Nearby <br>Restaurants in
                <span class="discovered-area">6 October</span>
            </h1>
        </div>
        <!-- <a href="#"><button class="discover-action">
                <img src="../../assets/restaurants-in-area/discover-nearby.png" width="24" height="24">
                Discover Nearby Restaurants
            </button></a> -->
    </div>
</header>
<div class="breadcrumb">
    <p>
        Home <i class="fa fa-chevron-right bc-dir"></i><span class="bc"> 6th of October - Haram City</span>
    </p>
</div>
<div class="pre-local-restaurants">
    <h1>Order Online for delivery, pick up or catering from <span>Haram City</span> restaurants</h1>
    <p><span class="discovered-area"> </span> restaurants near Haram City</p>
</div>
<hr>
<section id="cuisines-filters">
    <div class="bts-cuisines">
        <button class="cuisine-type active"><a href="#">All Cuisines</a></button>
        <button class="cuisine-type"><a href="#">African</a></button>
        <button class="cuisine-type"><a href="#">Asian</a></button>
        <button class="cuisine-type"><a href="#">Beverages</a></button>
        <button class="cuisine-type"><a href="#">Breakfast</a></button>
        <button class="cuisine-type"><a href="#">Burgers</a></button>
        <button class="cuisine-type-more"><a href="#">More</a></button>
    </div>
</section>
<section id="under-cuisines">
    <div class="row">
        <div class="col-lg-2">
            <div class="search-restaurant">
                <input type="text" name="search" placeholder="Search Restaurants" (ngModel)="filterTerm">
                <button class="search-icon"><i class="fa fa-search fa-3x"></i></button>
            </div>
            <div class="filter-factors">
                <div class="filter-by">
                    <button class="filter-by-title">Filter By</button>
                    <ul id="filter-by-list">
                        <li><label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>Deals & Offers</li>
                        <li><label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>Breakfast</li>
                        <li><label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>Family Meals</li>
                        <li><label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>Health & Beauty</li>
                        <li><label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>Free Delivery</li>
                        <li><label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>Use Voucher Here</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="sort-by">
                <div class="sort-by-scope">
                    <button class="sort-by-title">Sort By :</button>
                    <ul id="sort-by-list">
                        <li class="active">Recommended</li>
                        <li class="sort-item">Rating</li>
                        <li class="sort-item">Newest</li>
                        <li class="sort-item">A to Z</li>
                        <li class="sort-item">Min. Order Amount</li>
                        <li class="sort-item">Fast Delivery</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4" *ngFor="let store of stores | filter: filterTerm
              | paginate: { itemsPerPage: 3, currentPage: page } ">

                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/burger.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">{{store.storeName}}</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">{{store.storeCuisine}}</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: {{store.storeDeliveryTime}} mins,&nbsp;</span>
                            <span>Delivery: {{store.storeDeliveryFee}}.00,&nbsp;</span>
                            <span>Min: {{store.storeMinOrder}}.00.</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/sweet.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/pizza-1.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/pizza-1.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/burger.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/sweet.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/pizza-1.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/sweet.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="restaurant-box">
                    <div class="restaurant-thumb">
                        <div class="restaurant-overlay"
                            style="background-image: url('../../assets/restaurants-in-area/burger.jpg');"></div>
                    </div>
                    <div class="restaurant-caption">
                        <a href="#">Laziz Pizza</a>
                        <div class="restaurant-review-box">
                            <div class="review">
                                <span class="review-icon"><i class="far fa-smile"></i> Very Good </span>
                            </div>
                        </div>
                        <div class="main-recipe">
                            <div class="main-recipe-icon"><i class="fa fa-utensils"></i></div>
                            <div class="main-recipe-name">Pizza</div>
                        </div>
                        <div class="restaurant-info">
                            <div class="main-recipe-icon"><i class="fas fa-clock"></i></div>
                            <span>Within: 24 mins,&nbsp;</span>
                            <span>Service: 4.00,&nbsp;</span>
                            <span>Min: 15.00.</span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--pagination-->
            <pagination-controls style="margin-top: 50px;" class="text-center current" (pageChange)="page = $event">
            </pagination-controls>

        </div>
    </div>
</section>