<div class="mm">
    <div id="header">
        <img src="../../assets/Capture.PNG" />
    </div>
    <div id="bg">
        <img src="../../assets/turkey.PNG" id="back" />
    </div>
    <div *ngIf="_store" id="resname">
        <p>{{_store?.storeName}}</p>
        <p>{{_store.storeAddress}}</p>
        <p>Minimum order : {{_store.storeMinOrder}}</p>
    </div>

    <mat-icon fontSet="fa" fontIcon=" fa-info-circle"
        style="font-size: 6em; color: #FF5A00; position: relative;left:19rem;bottom:13.5rem;"></mat-icon>
    <mat-icon fontSet="fa" fontIcon="fa-comments"
        style="font-size: 6em; color: #FF5A00; position: relative;left:53rem;bottom:13.5rem;"></mat-icon>
    <mat-icon fontSet="fa" fontIcon="fa-cart-plus"
        style="font-size: 6em; color: #FF5A00; position: relative;left:88rem;bottom:13.5rem;"></mat-icon>

    <mat-tab-group *ngIf="_store" class="my-tab-class">

        <mat-tab label="Restaurant info">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Description</td>
                        <td>{{_store.storeDescription}}</td>
                    </tr>
                    <tr>
                        <td>Minimum order</td>
                        <td>{{_store.storeMinOrder}}</td>
                    </tr>
                    <tr>
                        <td>Delivery time</td>
                        <td>{{_store.storeDeliveryTime}}</td>
                    </tr>
                    <tr>
                        <td>Service fee</td>
                        <td>{{_store.storeDeliveryFee}}</td>
                    </tr>
                    <tr>
                        <td>Pre-order</td>
                        <td>{{_store.storePreOrder}}</td>
                    </tr>
                    <tr>
                        <td>Cuisine</td>
                        <td>{{_store.storeCuisine}}</td>
                    </tr>
                    <tr>
                        <td>PaymentVisa</td>
                        <td>{{_store.storePaymentVisa}}</td>
                    </tr>
                    <tr>
                        <td>OrdersNumber</td>
                        <td>{{_store.storeOrdersNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>

        <mat-tab label="Restaurant Review">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="content-item" id="comments">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4" id="allcomment">
                                            <div class="media" id="commentphoto">
                                                <div class="media-body">
                                                    <h4 class="media-heading">John Doe</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                                                        ipsum dolor sit amet,consectetur adipiscing elit. Lorem ipsum
                                                        dolor sit amet,consectetur adipiscing elit. Lorem ipsum dolor
                                                        sit amet,consectetur adipiscing elit. Lorem ipsum dolor sit
                                                        amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="content-item" id="comments">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4" id="allcomment">
                                            <div class="media" id="commentphoto">
                                                <div class="media-body">
                                                    <h4 class="media-heading">John Doe</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                                                        ipsum dolor sit amet,consectetur adipiscing elit. Lorem ipsum
                                                        dolor sit amet,consectetur adipiscing elit. Lorem ipsum dolor
                                                        sit amet,consectetur adipiscing elit. Lorem ipsum dolor sit
                                                        amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <img src="../../assets/user-comments-icon.png" id="commentsphoto" />
        </mat-tab>

        <mat-tab label="Food Menu">
            <img src="../../assets/foodknief.png" id="kniefphoto" />
            <img src="../../assets/forkfood.png" id="forkphoto" />

            <div class="row">
                <div class="col-lg-9">
                    <div id="menu">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Catigory 1
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="collapscontent" *ngFor="let c of myitem">
                                    <p>{{c.itemName}}</p>
                                    <p>{{c.itemPrice}}</p>
                                    <button class="btn btn-success" id="addbutton" (click)="onpress(c)">+</button>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Catigory 2
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="collapscontent">
                                    <p>item 2</p>
                                    <p>Price</p>
                                    <button class="btn btn-success">+</button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="bigcart">
                        <app-cart-header></app-cart-header>
                        <div class="w-100">
                            <app-cart-content [product]="item" *ngFor="let item of cartItems"></app-cart-content>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Catigory">
                <p class="p">Menu Catigory</p>
                <button class="catbtn">catigory 1</button>
                <button class="catbtn">catigory 2</button>
                <button class="catbtn">catigory 3</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>