<div class="mm">
  <div id="header">
    <img src="../../../../assets/store4.jpg" id="headerbg" />
  </div>
  <div id="bg">
    <img src="../../assets/turkey.PNG" id="back" />
  </div>
  <div *ngIf="_store" id="resname">

    <p>{{_store?.storeName}}</p>
    <!-- <p>{{_store.storeAddress}}</p>
    <p>Minimum order : {{_store.storeMinOrder}}</p> -->
  </div>

  <mat-icon fontSet="fa" fontIcon=" fa-info-circle"
    style="font-size: 6em; color: #FF5A00;margin-left: 16rem;margin-bottom: -2.5rem;"></mat-icon>
  <mat-icon fontSet="fa" fontIcon="fa-comments"
    style="font-size: 6em; color: #FF5A00;margin-left: 32rem;margin-bottom: -2.5rem;"></mat-icon>
  <mat-icon fontSet="fa" fontIcon="fa-cart-plus"
    style="font-size: 6em; color: #FF5A00;margin-left: 100rem;margin-bottom: 13.5rem;"></mat-icon>


  <mat-tab-group *ngIf="_store" class="my-tab-class">
    <mat-tab label="Restaurant info">
      <table class="table-am table table-striped">
        <tbody>
          <tr>
            <td>Description</td>
            <td>{{ _store.storeDescription }}</td>
          </tr>
          <tr>
            <td>Minimum order</td>
            <td>{{ _store.storeMinOrder }}</td>
          </tr>
          <tr>
            <td>Delivery time</td>
            <td>{{ _store.storeDeliveryTime }}</td>
          </tr>
          <tr>
            <td>Service fee</td>
            <td>{{ _store.storeDeliveryFee }}</td>
          </tr>
          <tr>
            <td>Pre-order</td>
            <td>{{ _store.storePreOrder }}</td>
          </tr>
          <tr>
            <td>Cuisine</td>
            <td>{{ _store.storeCuisine }}</td>
          </tr>
          <tr>
            <td>PaymentVisa</td>
            <td>{{ _store.storePaymentVisa }}</td>
          </tr>
          <tr>
            <td>OrdersNumber</td>
            <td>{{ _store.storeOrdersNumber }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Restaurant Review">
      <div class="container" style="width: 74rem; margin-left: 14rem; margin-top: 7rem">
        <div class="row">
          <div class="col-md-8">
            <div *ngFor="let com of _comment let i=index" class="" style="width: 100rem;">
              <!-- <div class="row"> -->
              <!-- <div class=""> -->
              <div class="comments-list" *ngIf="i<4">
                <div class="revimg">
                  <a class="" href="#">
                    <img src="http://lorempixel.com/40/40/people/1/" width="80" height="80">
                  </a>
                </div>
                <div class="revcomm">
                  <div class="reviwer">
                    {{com.client.clientFname +" "+com.client.clientLname}}
                  </div>
                  <div class="reviwerstatus">
                    {{com.orderReviewComment}}
                  </div>
                </div>
              </div>

              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Food Menu">
      <div class="row" style="margin: 5rem ; margin-left: 189px;">
        <!-- <img class="col-lg-1 d-lg-block d-none" width="500" height="500" src="../../assets/foodknief.png"
          id="kniefphoto" /> -->
        <div class="col-lg-7 pt-3 col-md-6">
          <div id="menu">
            <mat-accordion>
              <mat-expansion-panel (opened)="chooseCat(cat); panelOpenState = true" (closed)="panelOpenState = false"
                *ngFor="let cat of categories">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ cat }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div id="collapscontent" *ngFor="let c of _item" class="flex-container">
                  <div class="it">
                    <p>{{ c.itemName }}</p>
                    <p>{{ c.itemPrice }}</p>
                  </div>
                  <div class="bt">
                    <button class="btn btn-success" id="addbutton" (click)="onpress(c)">
                      +
                    </button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="col-lg-5 pt-3 col-md-6" style="width: 380px;">
          <h3 class="card-title">Your Cart</h3>
          <app-cart-content (remove)="removeItem($event)" [product]="item" *ngFor="let item of cartItems">
          </app-cart-content>
          <div style="padding: 20px">
            <span>Total</span>&nbsp;<span>{{ cartServ.totalPrice || 0 }}</span>
          </div>

          <div class="text-center mx-auto">
            <button [disabled]="!loggedIn()" class="btn btn-success" id="button" (click)="checkout(_store.storeId)">
              Execute Request
            </button>
            <div id="error" class *ngIf="!loggedIn()">
              <h5 id="h">you Should log in first to submit your order</h5>

              <a (click)="openModal()">Log In</a>
            </div>
          </div>
        </div>
        <!-- <img class="col-lg-2 d-lg-block d-none" src="../../assets/forkfood.png" width="300" height="500"
          id="forkphoto" /> -->
      </div>
    </mat-tab>
  </mat-tab-group>
</div>