html,body{
    overflow-x: hidden;
    display: none;
}
.ss{
    max-width: 100vw;
}
.search-restaurant {
  display: flex;
  width: 360px;
  position: relative;
  left: 905px;
}

.search-restaurant input {
  border-radius: 8px;
  border: 2px solid #ff5a00;
  outline: none;
  padding: 10px;
  width: 300px;
}

.search-restaurant .search-icon {
  width: 30px;
  height: 45px;
  background-color: #ff5a00;
  position: relative;
  left: -32px;
  border: 0;
  border-radius: 0 8px 8px 0;
}

.search-restaurant .svg-inline--fa {
  top: 10px;
  font-size: 20px;
  color: #fff;
}

#Header{
    width: 120rem;
    height: 40rem; 
    background: url(../../../../assets/pizza-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
     margin-top: 40px;
    color: rgb(255, 90, 0);
}
#info{
    margin-top: 40px;
    margin-bottom: 60px;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
}
h2{
    font-family:Microsoft Sans Serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 250px;
    margin-left: 880px;
    width: 25rem;
    line-height: 1.1;
}
p{
    margin-left: 880px;
    width: 30rem;
    font-size: 17px;
    line-height:1.4
}
#imgf{
   width: 300px;
   height: 250px;
}
.restaurant-box {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0 10px 22px #d0d0d0;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 80px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    transition: all 0.25s ease-in-out 0s;
    width: 275px;
    cursor: pointer;
}

.restaurant-box .restaurant-thumb {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.row {
    margin-right: -15px;
    margin-left: -84px;
}
.container {
    margin-right: 98px;
}
.restaurant-box .restaurant-overlay {
    background-position: 40% center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    transition: all 0.25s ease-in-out 0s;
}

.restaurant-box:hover {
    transform: scale(1.06);
}

.restaurant-box .restaurant-caption {
    width: 100%;
    padding: 10px;
}
.restaurant-box .restaurant-caption a {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #ff5a00;
    text-decoration: none;
}

.restaurant-caption .restaurant-review-box {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 12px;
    color: #fff;
    font-family: poppins;
    font-weight: 500;
    padding: 1px 10px;
    letter-spacing: 1px;
    z-index: 1;
    display: block;
}

.restaurant-caption .restaurant-review-box .review{
    padding: 8px;
    background-color: #ff5a00;
    border-radius: 8px;
    color: #fff;
}

.restaurant-caption .restaurant-review-box .review .review-icon { 
    font-size: 15px; 
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.main-recipe {
    clear: both;
    display: block;
}

.main-recipe-icon { 
    color: #ff5a00; 
    margin-right: 10px;
}

.main-recipe-name {
    margin-left: 5px;
    font-size: 18px;
    color: #222;
}

.main-recipe, .restaurant-info {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
}

.main-recipe, .restaurant-info span {
    font-size: 15px;
    color: #222;
}
.flex-container{
    display: flex;
    width: 350px;
    flex-wrap:nowarp;
    margin-right: 180px;
    padding-left: 40px;
}
.pag{
    width: 300px;
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 20px;
}
.footer{
    margin-top:100px;
}

