<div class="app-splash-screen" [ngStyle]="{ left: windowWidth }" *ngIf="showSplash" id="app-splash-screen" >
  <div class="app-splash-screen-inner">
    <div class="app-logo">
      <img src="../../../assets/talabat-logo.png" width="190" height="65" />
      <img src="../../../assets/delivery.gif" width="250" height="200" />
    </div>
    <div class="app-loader">
      <div class="snippet" data-title=".dot-flashing">
        <div class="stage">
          <div class="dot-flashing"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ngStyle]="{ left: windowWidth }" *ngIf="showSplash" -->