<div class="top-part">
  <div id="transparentdiv">
    <div class="container page-content">
      <div class="login-form">
        <div class="form-logo-border col-lg-5">
          <img
            src="..//../assets/talabat-logo.png"
            alt="talabat-logo"
            id="form-logo"
          />
        </div>

        <h3>
          Welcome to the <br />
          <strong>Talabat</strong> Portal
        </h3>
        <p class="mb-4">
          If you’re unable to login or recover your <br />
          password (link below), please contact <br />
          your account manager.
        </p>
        <div class="login_form">
          <section class="login-wrapper">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- <label for="username">User Name</label>
              <input required name="login[username]" type="text" autocapitalize="off" autocorrect="off" /> -->
              <mat-form-field class="full-width-input">
                <mat-label>Email Address</mat-label>
                <input
                  type="email"
                  matInput
                  placeholder="Email Address"
                  formControlName="email"
                  [(ngModel)]="partner.email"
                  required
                />
                <mat-error *ngIf="fieldget.email.hasError('required')">
                  Email Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <!-- <label for="password">Password</label>
              <input class="password" required name="login[password]" type="password" /> -->

              <!-- <div class="hide-show">
                <span>Show</span>
              </div> -->
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  type="password"
                  placeholder="password"
                  formControlName="password"
                  formControlName="password"
                  [(ngModel)]="partner.password"
                  required
                />

                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="fieldget.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <button type="submit" class="signin-btn">Sign In</button>
            </form>

            <!-- <div class="forgot-pass">
              <span><a href="#">Forgot Password</a></span>
            </div> -->
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
