html, body { height: 100%; }

    html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 150%;
        line-height: 1.4;
        margin: 0;
        padding: 0;
    }

    body { margin: 0; }

    .home-header {
        width: 100% ;
        /* height: 625px; */
        height: 775px;
        background-image: url("../../../../assets/home/home-img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        margin: 0;
    }

    .home-header img {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        margin-bottom: 50px;
    }


    .viewport-header {
        width: 100% ;
        height: 625px;
        background-image: url("../../../../assets/home/home-plate.png");
        background-repeat: no-repeat;
        background-size: 50% 60%;
        background-position: top center;
        background-attachment: scroll;
        margin: 0;
        position: relative;
        top: 0;
    }

    .header-content {
        text-align: center;
        justify-content: center;
        clear: both;
        position: relative;
        top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .header-content h1 {
        color: #262626;
        font-size: 40px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .search-bar {
        display: inline-block;
        -webkit-box-pack: justify;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-content .search-box input {
        width: 500px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #a6a6a6;
        box-shadow: none;
        padding: 20px;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .search-box input[type=text],.locate-map {
        display: inline-flex;
        vertical-align: middle;
        -webkit-box-pack: justify;
        justify-content: center;
    }

    .search-box input[type=text] {
        font-size: 20px;
        color: #212121;
    }

    input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding: 10px;
    }

    .locate-map {
        width: 24px;
        position: relative;
        top: -7px;
        right: 40px!important;
        height: 24px;
        vertical-align: middle;
        border: 0;
        background-color: #fff;
        z-index: 0;
    }

    .locate-map>img {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .close {
      position: relative;
      top: 12px;
      right: 64px!important;
      vertical-align: middle;
      border: 0;
      background-color: #fff;
      z-index: 9999;
    }

    .search-action {
        width: 200px;
        height: 52px;
        background-color: #ff5a00;
        line-height: 1.25;
        margin-left: 15px;
        border-radius: 8px;
        outline: none;
        border: 0;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        color: #fff;
    }

    #stores-cards  {
        position: relative;
        top: 150px;
        /* left: 7%; */
        /* width: 1267px; */

    }

    .left-cards {
        display: flex;
        -webkit-box-pack: justify;

    }

    .store-card {
        display: flex;
        width: 44%;
        height: 210px;
        border-radius: 8px;
        margin: 0px 30px 32px 0px;
        /* border: 1px solid #ff5a00 ; */
    }

    .store-card .store-img {
        width: 50%;
        max-width: 200px;
        border-radius: 8px 0 0 8px;
        position: relative;
    }

    .store-card .store-img img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        max-width: 169px;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 0 0 8px;
    }

    .store-def-out {
        border: 1px solid #ffc6a7;
        width: 60%;
        padding: 5px;
        /* border: 1px solid #e5e5e5; */
        border-radius: 0 8px 8px 0;
        border-left: 0;
        position: relative;
        padding-bottom: 42px;
        margin-left: -32px;
    }

    .store-card .store-def {

        margin-left: 25px;
    }

    .store-card .store-def h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #262626;
    }

    .store-card .store-def p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 21px;
        color: #262626;
    }

    .btn-explore {
        background-color: #ff5a00;
        border: none;
        width: 40%;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border: none;
    }

    #partner-and-career {
        position: relative;
        top: 200px;
        display: block;
        -webkit-box-pack: justify;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
        padding: 54px 0 92px 0px;
    }

    .partner-and-career-header {
        display: block;
    }

    .partner-and-career-header .header-title {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: #262626;
        line-height: 1.3;
        margin: 12px;
    }

    .partner-and-career-header .header-subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 21px;
        color: #262626;
    }

    .partner-and-career-cards {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-evenly;
    }

    .partner-and-career-cards .partner-card {
        min-width: 400px;
    }

    .partner-and-career-cards .partner-card .partner-img img{
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .partner-and-career-cards .partner-def .header-title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #262626;
    }

    .partner-and-career-cards .partner-def .header-subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 21px;
        color: #262626;
    }

    .btnPartnerExplore {
        background-color: #ff5a00;
        border: none;
        min-width: 180px;
        height: 45px;
        border-radius: 8px;
        line-height: 1.25;
        border-radius: 8px;
        line-height: 1.25;
        padding: 12px 20px!important;
        text-align: center;
        font-size: 16px;
        color: #fff;
        min-width: 150px;
        border: none;
    }

    #app-stores {
        position: relative;
        top: 0px;
        display: flex;
        justify-content: center;
        padding: 54px 0 200px 0px;
        height: 300px;
        margin-top: 350px;
        margin-bottom: 77px;
    }

    .app-card .app-desc .header-title{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #262626;
        line-height: 1.3;
    }

    .app-card .app-desc .header-subtitle{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 21px;
        color: #262626;
    }

    .app-card .app-store-imgs {
        display: flex;
        margin-top: 40px;
    }

    .app-card .app-store-imgs a {
        text-decoration: none;
    }

    .app-card .app-store-imgs img {
        height: 50px;
        width: auto;
        max-width: 162px;
        margin-right: 16px;
    }

    .app-img img{
        width: 100%;
        max-width: 393px;
        margin-left: 50px;
    }

