
<app-splash-screen></app-splash-screen>
<header class="home-header" id="top-page">
    <!-- <img src="../../assets/home/navbar.PNG"> -->
    <div class="viewport-header">
        <div class="header-content">
            <h1>Order food online in Egypt</h1>
            <div class="search-bar">
                <div class="search-box">
                    <input type="text" class="form-control empty" name="search-bar" [value]='txtValue'
                        (keyup.enter)='openGoogleMapsModalOnClick($event)'
                        placeholder="&#xf041;  Search for area, street name, landmark ..."
                        (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off"
                        spellcheck="off" type="text" #search [(ngModel)]="txtValue"
                        (ngModelChange)="onTextChange($event)" required>

                    <button class="locate-map" *ngIf="mapMarkactive" (click)="openGoogleMapsModal()">
                        <img src="../../assets/home/locate-map.svg" width="24" height="24">
                    </button>
                    <button class="locate-map close" *ngIf="closeMarkactive" (click)="clearInputControl()">
                        <img src="../../assets/home/close-circle-map.svg" width="24" height="24">
                    </button>
                    <p>
                        <span tooltip="Enter your full delivery address" triggers="" #pop="bs-tooltip">
                          Enter your full delivery address
                        </span>
                    </p>
                </div>
                <div>
                    <button class="btn btn-warning search-action" type="submit"
                        (click)="openGoogleMapsModalOnClick()">Let's go</button>

                    <!-- <h1>
                        <p *ngIf="coordinates.address">
                            Address: {{coordinates.address}}
                        </p>
                    </h1>
                    <h3>
                        <p *ngIf="coordinates.latitude">
                            Latitude: {{coordinates.latitude}}
                        </p>
                        <p *ngIf="coordinates.longitude">
                            Longitude: {{coordinates.longitude}}
                        </p>
                    </h3> -->

                </div>
            </div>
        </div>
    </div>
</header>





<div class="container">
    <section id="stores-cards">
        <div class="container">
            <div class="left-cards">
                <div class="store-card" *ngFor="let type of StoreTypes">
                    <div class="store-img">
                        <img src="../../assets/home/resturant.jpg" alt="resturant">
                    </div>
                    <div class="store-def-out">
                        <div class="store-def">
                            <h1>{{type.storeTypeName}}</h1>
                            <p>Find deals, free delivery, and <br>more from our resturant<br> partners.</p>
                            <a [routerLink]="['/all-resturants/', type.storeTypeName]"><button
                                    class="btn btn-primary btn-explore"
                                    (click)="getAllStoreIn($event, type)">Explore</button></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="store-card">
                    <div class="store-img">
                        <img src="../../assets/home/grocery.jpg" alt="resturant">
                    </div>
                    <div class="store-def-out">
                        <div class="store-def">
                            <h1>Grocery</h1>
                            <p>Don’t stand in line - order<br> online! Choose from top stores<br> delivering groceries to you.</p>
                            <a href="#"><button class="btn btn-primary btn-explore">Explore</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-cards">
                <div class="store-card">
                    <div class="store-img">
                        <img src="../../assets/home/pharmacy.jpg" alt="resturant">
                    </div>
                    <div class="store-def-out">
                        <div class="store-def">
                            <h1>Pharmacy</h1>
                            <p>Got the sniffles? We’ve got you. <br>Get medicine delivered to you<br> quickly and easily.</p>
                            <a href="#"><button class="btn btn-primary btn-explore">Explore</button></a>
                        </div>
                    </div>
                </div> -->
                <div class="store-card">
                    <div class="store-img">
                        <img src="../../assets/home/other-stores.jpg" alt="resturant">
                    </div>
                    <div class="store-def-out">
                        <div class="store-def">
                            <h1>Others</h1>
                            <p>Find deals, free delivery, and <br>more from our resturant<br> partners.</p>
                            <a href="#"><button class="btn btn-primary btn-explore">Explore</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="partner-and-career">
        <div class="partner-and-career-header">
            <h2 class="header-title">Join Us</h2>
            <p class="header-subtitle">Be a part of the talabat story</p>
        </div>
        <div class="partner-and-career-cards">
            <div class="partner-card">
                <div class="partner-img">
                    <img src="../../assets/home/Back to work-pana.png" alt="resturant">
                </div>
                <div class="partner-def">
                    <h1 class="header-title">Become a partner</h1>
                    <p class="header-subtitle">Reach more customers and <br>achieve growth with us</p>
                    <a routerLink="/partener"><button class="btn btn-primary btnPartnerExplore">Explore</button></a>
                </div>
            </div>
            <div class="partner-card">
                <div class="partner-img">
                    <img src="../../assets/home/Job offers-bro.png" alt="resturant">
                </div>
                <div class="partner-def">
                    <h1 class="header-title">Build your career</h1>
                    <p class="header-subtitle">Join the dynamic team that <br>makes it all happen</p>
                    <a routerLink="/#"><button class="btn btn-primary btnPartnerExplore">Explore</button></a>
                </div>
            </div>
        </div>
    </section>

    <section id="app-stores">
        <div class="app-card">
            <div class="app-desc">
                <h1 class="header-title">Discover the new talabat app</h1>
                <p class="header-subtitle">Get what you need, when you need it.</p>
            </div>
            <div class="app-store-imgs">
                <a href="#"><img src="../../assets/home/logo_appstore.svg" alt="app-store"></a>
                <a href="#"><img src="../../assets/home/logo_playstore.svg" alt="play-store"></a>
                <a href="#"><img src="../../assets/home/logo_huaweistore1.svg" alt="huawei-store"></a>
            </div>
        </div>
        <div class="app-img">
            <img src="../../assets/home/app-view-en.webp" alt="resturant">
        </div>
    </section>
</div>
<app-footer></app-footer>
