.cart{
    background-color:#FF5A00;
    width: 30rem;
    color: white;
    text-align: center;
    position: relative;
    left:90rem;
    bottom: 62rem;
    height: 4rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight:lighter;
    font-style: italic;
}