#navbar
{
    background-color: #FF5A00;
    width: 100%;
    border-radius: 0;
}

.modal-content {

    border: 0;
    border: 0;


}
.navbar {
    position: relative;
    border-radius: 0;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

ul li a
{
    color: white;
}
#navbar-align
{
    margin:0 auto;
}
#talbat-logo
{ 
    /* margin: 6px 5px; */
    margin-left: 100px;
    padding-top: 7px;
}
.btn-login,.btn-register
{
    width: 100px;
    height: 30px;
    margin:10px 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
 

}
.btn-login
{   color: white;
    background-color: #FF5A00;
}
.btn-register
{ color: #FF5A00;
    background-color: white;
}


.btn-login:active 
{  
/* color: #FF5A00; */
/* background-color:white; */
box-shadow: 0 5px rgb(255, 255, 255);
transform: translateY(2px);
}
.btn-register:active
{
color: #FF5A00;
background-color:white;
box-shadow: 0 5px rgb(199, 199, 199) ;
transform: translateY(2px);
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
 
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    position: relative;
    border-radius: 0;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    outline: none;
    color: white;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {

    font-weight: 0px;
}