html,body {padding:0;margin:0;}
.wrap {
  font:12px Arial, san-serif;
}
h1 {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 

/* footer */

footer {
  font-size: 17px;
  color: #fff;
  background-color: #1f2532;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.grid-footer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.grid-footer .footer-logo {
  width: 160px;
  height: auto;
}

.link-header {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 16px;
}

.appStores {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.footer-upperline {
  margin-bottom: 40px;
}

.footer-upperline a {
  padding: 10px 0;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}

hr {
  opacity: 0.12;
  background-color: #d8d8d8;
}

.footer-underline {
  opacity: .6;
  font-size: 14px;
  line-height: 1.43;
  color: #fff;
  display: flex;
  margin-block-start: 40px;
  margin-block-end: 40px;
  text-align: unset !important;
}

.footer-container {
  padding: 0 0 0 80px;
}

.footer-links {
  margin-bottom: 30px;
}

.footer-links a {
  text-decoration: none;
  margin-right: 90px;
  color: #a6a6a6;
  font-size: 14px;
  cursor: pointer;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ff5a00 !important;
}
