<body>
    <main id="main" role="main">
      <section id="checkout-container">
        <div class="container">
          <div class="row py-5">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Order</span>
                <span class="text-muted">Modify Order</span>
                <span class="badge badge-secondary badge-pill">num</span>
              </h4>
              <ul class="list-group mb-3">
                <li
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    lh-condensed
                  "
                >
                  <div>
                    <h2 class="my-0">Tasterr</h2>
                  </div>
                </li>
                <li
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    lh-condensed
                  "
                >
                  <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-muted">Details</small>
                  </div>
                  <span class="text-muted">$12</span>
                  <span class="text-muted">Special Request</span>
                </li>
                <li
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    lh-condensed
                  "
                >
                  <div>
                    <h6 class="my-0">Second product</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$8</span>
                  <span class="text-muted">Special Request</span>
                </li>
                <li
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    lh-condensed
                  "
                >
                  <div>
                    <h6 class="my-0">Third item</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$5</span>
                  <span class="text-muted">Special Request</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>$20</strong>
                </li>
              </ul>
            </div>

            <div class="col-md-8 order-md-1">
              <form>
                <div class="mb-3 text-center">
                  <mat-card class="example-card">
                    <mat-card-header class="text-center">
                      <mat-card-title>Address</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                      <hr class="mb-3" />

                      <p>bind here adress details</p>
                      <div>Address Name: {{city}}</div>
                      <div>Address: {{streetName}} St, Building: {{buildingNo}},
                        Floor: {{floorNo}}, Apartment: {{apartmentNo}}</div>
                      <div>Mobile: +20 {{mobileNumber}}</div>

                    </mat-card-content>
                    <mat-card-actions>
                      <button
                        mat-button
                        style="background-color: blue; color: white"
                        (click)="openAddressModalOnClick()"
                      >
                        edit
                      </button>

                      <button
                        mat-button
                        style="background-color: green; color: white"
                        (click)="openAddressModalOnClick()"
                      >
                        add
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <ng-template #template>
                  <div class="modal-content map">
                    <div class="modal-header">

                      <span class="modalheader">Delivery Address</span>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel> Address Map</ng-template>
                                  <div class="form-group">
                                    <input type="text" class="form-control empty" name="search-bar" value="" placeholder="Search Nearest Location"
                                      (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                                      #search>
                                  </div>

                                  <agm-map style="width: 518px; height: 400px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
                                  [usePanning]="true" (centerChange)="centerChanged($event)" (mapReady)="mapReady($event)">

                                  </agm-map>
                                  <div class="map-center-overlay">
                                    <img src="../../assets/home/map-marker.svg" width="30" height="30">
                                  </div>
                                <div>
                                    <button mat-button matStepperNext [disabled]="btnDisabled" (click)="CheckAddressInZone()">Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup">
                            <form [formGroup]="secondAddressFormGroup" (ngSubmit)="submitAddress()">
                                <ng-template matStepLabel>Address Details</ng-template>
                                <mat-form-field>
                                    <mat-label>Mobile Number</mat-label>
                                    <input matInput placeholder="Mobile Number" formControlName="mobileNumber"
                                    [(ngModel)]="clientAddress.clientAddressMobileNumber"
                                    name="mobileNumber" #clientAddressMobileNumber="ngModel" required>
                                </mat-form-field>
                                <br />
                                <mat-form-field>
                                  <mat-label>landLine Number</mat-label>
                                  <input matInput placeholder="LandLine Number" formControlName="landLine"
                                  [(ngModel)]="clientAddress.clientAddressLandLine"
                                    name="landLine" #clientAddressLandLine="ngModel">
                                  </mat-form-field>
                                  <br />
                                  <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City" formControlName="city" required>
                                  </mat-form-field>
                                  <br />
                                  <mat-form-field>
                                    <mat-label>Street Name</mat-label>
                                    <input matInput placeholder="Street Name" formControlName="streetName"
                                    [(ngModel)]="clientAddress.clientAddressStreet"
                                    name="streetName" #clientAddressStreet="ngModel" required>
                                  </mat-form-field>
                                  <br />
                                  <mat-form-field>
                                    <mat-label>Building No</mat-label>
                                    <input matInput placeholder="Building No" formControlName="buildingNo"
                                    [(ngModel)]="clientAddress.clientAddressBuilding"
                                    name="buildingNo" #clientAddressBuilding="ngModel" required>
                                  </mat-form-field>
                                  <br />
                                  <mat-form-field>
                                    <mat-label>Floor No</mat-label>
                                    <input matInput placeholder="Floor No" formControlName="floorNo"
                                    [(ngModel)]="clientAddress.clientAddressFloor"
                                    name="floorNo" #clientAddressFloor="ngModel" required>
                                  </mat-form-field>
                                  <br />
                                  <mat-form-field>
                                    <mat-label>Apartment No</mat-label>
                                    <input matInput placeholder="Apartment No" formControlName="apartmentNo"
                                    [(ngModel)]="clientAddress.clientAddressApartmentNumber"
                                    name="apartmentNo" #clientAddressApartmentNumber="ngModel" required>
                                  </mat-form-field>
                                  <br />
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <p>You are now done.</p>
                          <!-- For Testing -->
                        <mat-list>
                          <mat-list-item> <strong>Mobile Number:</strong> {{ this.secondAddressFormGroup.value.mobileNumber }}</mat-list-item>
                          <mat-list-item> <strong>LandLine:</strong> {{ this.secondAddressFormGroup.value.landLine }}</mat-list-item>
                          <mat-list-item> <strong>City:</strong> {{ this.secondAddressFormGroup.value.city }}</mat-list-item>
                          <mat-list-item> <strong>Street Name:</strong> {{ this.secondAddressFormGroup.value.streetName }}</mat-list-item>
                          <mat-list-item> <strong>Building No:</strong> {{ this.secondAddressFormGroup.value.buildingNo }}</mat-list-item>
                          <mat-list-item> <strong>Floor No:</strong> {{ this.secondAddressFormGroup.value.floorNo }}</mat-list-item>
                          <mat-list-item> <strong>Apartment No:</strong> {{ this.secondAddressFormGroup.value.apartmentNo }}</mat-list-item>
                        </mat-list>

                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <!-- <button mat-button (click)="submit()">Submit</button> -->
                            </div>
                        </mat-step>
                      </mat-horizontal-stepper>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" class="btn btn-primary navigate" (click)="getClientAddress()">Confirm
                      <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> -->
                    </div>
                  </div>
                </ng-template>

                <hr class="mb-3" />

                <div class="mb-3">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Add special Request</mat-card-title>
                    </mat-card-header>

                    <mat-card-content class="text-center">
                      <hr class="mb-3" />
                      <textarea class="text-center" matInput></textarea>
                    </mat-card-content>
                  </mat-card>
                </div>

                <hr class="mb-3" />

                <!-- //////////////// -->

                <div class="mb-3">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Online Payment</mat-card-title>
                    </mat-card-header>

                    <mat-card-content class="text-center">
                      <hr class="mb-3" />
                      <app-payment-card class="text-center"></app-payment-card>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="row">
                  <div class="col-md-3 mb-3"></div>
                </div>

                <hr class="mb-4" />
                <button class="btn" type="submit">Place order</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
